.bodyStyle {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    line-height: 26px;
    font-weight: 300;
    color: #656565;
    overflow-x: hidden !important;
    -webkit-font-smoothing: antialiased;
}

/*intro,about,shopping*/
.introduce,
.about,
.shopping,
.gallery {
    text-align: center;
    padding: 70px 30px;
    height: 700px;
}

.introduceHeaderImg,
.aboutHeaderImg,
.shoppingHeaderImg {
    margin-top: 25px;
    margin-bottom: 40px;
}

.galleryHeaderImg {
    width: 100%;
    height: 300px;
}

.galleryHeaderImg:hover {
    border: 2px solid black;
    border-radius: 50px;
}

.gallerryHeaderText .introduceHeaderText,
.aboutHeaderText,
.shoppingHeaderText,
.gallerryHeaderText {
    margin-bottom: 30px;
}

.introduceBodyImg {
    width: 100%;
    margin-top: 50px;
}

.a {
    color: black;
}

.a:hover {
    text-decoration: none;
    color: #C3A484;
}

.about,
.gallery {
    background-image: url(/banner5.jpg);
    height: 1000px;
}

.gallery {
    background-image: url(/p2backgroundimg1.jpg);
}

.aboutBodyImg {
    width: 100%;
    margin-bottom: 20px;
}

.aboutBody {
    text-align: left;
}

.aboutBodyTitle {
    font-size: 20px;
    margin-top: 50px !important;
    margin-bottom: 15px;
    color: black;
}

.aboutBodyTitle:hover {
    text-decoration: none;
    color: #C3A484;
}

.aboutBodyReadMore {
    display: flex;
    color: black;
}

.aboutBodyReadMore hr {
    border: 1px solid black;
    width: 10px;
}

.shoppingBodyImg {
    position: relative;
}

.shoppingBodyImg img {
    width: 100%;
}

.shoppingBodyImg button {
    position: absolute;
    top: 100px;
    left: 50px;
    display: none;
    z-index: 1;
    color: #fff;
    background-color: #be9c79;
    border: 1px solid transparent;
    width: 160px;
    height: 50px;
}

.shoppingBodyImg:hover button {
    display: block;
    transition: 0.5s;
}

.shoppingBodyImg:hover img {
    opacity: 0.3;
    transition: 0.5s;
}

.CartBtn {
    width: 140px;
    height: 40px;
    border-radius: 12px;
    border: none;
    background-color: rgb(255, 208, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .5s;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
    position: fixed;
    top: 50%;
    right: 15px;
    z-index: 2;
}

.IconContainer {
    position: absolute;
    left: -50px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .5s;
}

.icon {
    border-radius: 1px;
}

.text {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(17, 17, 17);
    z-index: 1;
    transition-duration: .5s;
    font-size: 1.04em;
    font-weight: 600;
}

.CartBtn:hover .IconContainer {
    transform: translateX(58px);
    border-radius: 40px;
    /* ransition-duration: .5s; */
}

.CartBtn:hover .text {
    transform: translate(10px, 0px);
    transition-duration: .5s;
}

.CartBtn:active {
    transform: scale(0.95);
    transition-duration: .5s;
}

.img {
    width: 100px;
}

.delete {
    color: #000;
    text-align: center;
    margin-top: 40px;
}

.cartContainer {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.goTop {
    width: 60px;
    text-align: center;
    height: 60px;
    line-height: 60px;
    color: black;
    background-color: rgb(255, 208, 0);
    position: fixed;
    bottom: 40px;
    right: 40px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 20px;
    border: none;
}